<div class="breadcrumb__wrapper" style=" width: 35%; margin: 30px 35% 0; text-align: center; position: absolute">
    <nav aria-label="Breadcrumb" style="height: 20px">
        <ol class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
            {{#unless theme_settings.hide_breadcrumbs }}
                {{#each breadcrumbs}}
                    <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a class="breadcrumb-label" style="text-decoration: none;"
                           itemprop="item"
                           href="{{url}}"
                           {{#if @last}}aria-current="page"{{/if}}
                        >
                            <span class="breadcrumb-decoration" itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="{{add @index 1}}" />
                    </li>
                {{/each}}
            {{/unless}}
        </ol>
    </nav>
</div>