<div class="hero">
    <div class="hero__background">
        <div class="hero__top-button-margin">
            <a class="hero__top-button" href="/shop-all/bath/">SHOP OUR COLLECTION</a>
        </div>
        <div class="hero__text-wrapper">
            <h2 class="hero__text">
                Making It Easier <br> Than Ever To Sleep
            </h2>
        </div>
        <div class="hero__base-button-wrapper">
            <span>
                <a class="hero__base-button" href="/shop-all/bath/">SHOP ALL BEDS</a>
            </span>
        </div>
    </div>
</div>





<div class="container">
    <div style="text-align: center;">
        <h2 style="text-align:{{header-align}}; font-size:{{header-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; line-height: 2.25rem; color:{{header-color}};">
            {{header}}
        </h2>
    </div>
    <div style="display: flex; flex-direction: row; text-align: left;">
        <div style="max-height: 527px; max-width: 527px; text-align: left;">
            <h3 style="font-size:{{title-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; line-height: 2.25rem; color:{{title-color}};">
                {{title}}
            </h3>
            <p style="font-size:{{text-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 200; line-height: 1.75rem; color:{{text-color}};">
               {{text}}
            </p>
            <a style="color:{{link-color}}; font-size:{{link-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; line-height: 1.75rem; text-decoration: none;" href="{{link}}">
                {{linkText}}
            </a>
            <h3 style="font-size:{{title-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; line-height: 2.25rem; color:{{title-color}};">
                {{title}}
            </h3>
            <p style="font-size:{{text-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 200; line-height: 1.75rem; color:{{text-color}};">
                {{text}}
            </p>
            <a style="color:{{link-color}}; font-size:{{link-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; line-height: 1.75rem; text-decoration: none;" href="{{link}}">
                {{linkText}}
            </a>
            <h3 style="font-size:{{title-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; line-height: 2.25rem; color:{{title-color}};">
                {{title}}
            </h3>
            <p style="font-size:{{text-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 200; line-height: 1.75rem; color:{{text-color}};">
                {{text}}
            </p>
            <a style="color:{{link-color}}; font-size:{{link-font}}; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; line-height: 1.75rem; text-decoration: none;" href="{{link}}">
                {{linkText}}
            </a>
        </div>
    </div>
</div>